<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet", href="{{url_for('static', filename='style_admin_dashboard_staff.css')}}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readgister - Staff Dashboard</title>
</head>
<body>

    <div class="navbar">
        <ul class="button" type="none">
            <li> <img src="{{url_for('static', filename='photos/logo/logo_icon0_white.png')}}" class="small_logo"> </li>
            <li> <a href="{{url_for('landing_page')}}"> Home </a> </li>
            <li> <a href="{{url_for('landing_page')}}"> About </a> </li>
            <li> <a href="{{url_for('landing_page')}}"> FAQ </a> </li>
            <li> <a href="{{url_for('landing_page')}}"> Contacts </a> </li>

            <div class="dropdown">
                <button class="dropdown_button"> Accounts </button>
                <div class="dropdown_content">
                    <div class="profile_section">
                        <div class="profile_section_body">
                            <div class="staff_profile_photo">
                                {% if admin['profile_admin'] %}
                                <img class="staff_profile_photo" src="{{ url_for('static', filename=admin['profile_admin']) }}" width="150">
                                {% else %}
                                <img class="staff_profile_photo0" src="{{ url_for('static', filename='profile_p/profile_default.jpg') }}" width="150">
                                {% endif %}
                            </div>
                            <h1 class="profile_name">{{ admin['name_admin'] }}</h1>
                            <p class="profile_email">{{ admin['email_admin'] }}</p>
                        </div>
                    </div>
                    <a class="profile_button" href="{{url_for('admin_profile')}}"> Profile </a>

                    <p class="dropdown_divider">  </p>

                        <p class="dashboard_title"> Admin Dashboard </p>
                        <div class="dashboard_button">
                            <a href="{{url_for('admin_dashboard_books')}}"> Book List </a>
                        </div>
                        <div class="dashboard_button">
                            <a href="{{url_for('admin_dashboard_staff')}}"> Staff List </a>
                        </div>
                    <div class="logout_button">
                        <a href="{{url_for('admin_logout')}}" onclick="return confirm('Are you sure you want to logout?');"> Logout </a>
                    </div>
                </div>
            </div>
        </ul>
    </div>


    <div class="staff_dashboard_body">
        <div class="staff_dashboard_elements">
            <div class="header0">
                <h1 class="header0_text"> Official Staff List </h1>
                <p> List of people who are collaborating with you!  Approve or reject login accounts. </p>
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash_messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}

            <div class="table_data_body">
                <div class="table_data">
                    <table>
                        <tr>
                            <th class="id_column"> ID </th>
                            <th> Profile </th>
                            <th> Name </th>
                            <th> Email Address </th>
                            <th> Phone no. </th>
                            <th> Password </th>
                            <th> Status </th>
                            <th class="settings_column"> Settings </th>
                        </tr>
                        {% for i in std %}
                        <tr>
                            <td class="id_column">{{ i['id_staff'] }}</td>
                            <td>
                                {% if i['profile_staff'] %}
                                    <img src="{{ url_for('static', filename=i['profile_staff']) }}" width="90" height="90">
                                {% else %}
                                    <img src="{{ url_for('static', filename='profile_p/profile_default.jpg') }}" width="90" height="90">
                                {% endif %}
                            </td>
                            <td>{{ i['name_staff'] }}</td>
                            <td>{{ i['email_staff'] }}</td>
                            <td>{{ i['phone_staff'] }}</td>
                            <td>{{ i['pass_staff'] }}</td>
                            <td>{{ i['status_staff'] }}</td>
                            <td>
                                <!-- Approve button -->
                                <form class="setting_buttons" action="{{ url_for('admin_dashboard_staff_approval') }}" method="post">
                                    <input type="hidden" name="staff_id" value="{{ i['id_staff'] }}">
                                    <button type="submit" onclick="return confirm('Are you sure you want to approve this staff?');"> Approve </button>
                                </form>
                        
                                <!-- Reject button -->
                                <form class="setting_buttons" action="{{ url_for('admin_dashboard_staff_reject') }}" method="post">
                                    <input type="hidden" name="staff_id" value="{{ i['id_staff'] }}">
                                    <button type="submit" onclick="return confirm('Are you sure you want to reject this staff?');"> Reject </button>
                                </form>

                                <form class="setting_buttons" action="{{ url_for('admin_dashboard_staff_delete') }}" method="post">
                                    <input type="hidden" name="staff_id" value="{{ i['id_staff'] }}">
                                    <button type="submit" onclick="return confirm('Are you sure you want to delete this staff?');"> Delete </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </table>
                </div>
            </div>

        </div>
    </div>


    <div class="footer">
        <div class="footer_body">
            <div class="footer_elements">

                <div class="footer_buttons">
                    <ul class="footer_links" type="none">
                        <li> 
                            <p> Explore </p>
                            <ul class="footer_text" type="none">
                                <li> <a href="{{url_for('admin_home_page')}}"> Home </a> </li>
                                <li> <a href="#"> About </a> </li>
                                <li> <a href="{{url_for('booklist_admin')}}"> Book List </a> </li>
                            </ul>
                        </li>
                        <li> 
                            <p> Help </p>
                            <ul class="footer_text" type="none">
                                <li> <a href="#"> FAQ </a> </li>
                                <li> <a href="#"> Contacts </a> </li>
                            </ul>
                        </li>
                        <li> 
                            <p> Legal </p>
                            <ul class="footer_text" type="none">
                                <li> <a href="#"> Terms of Use </a> </li>
                                <li> <a href="#"> Terms of Service </a> </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="footer_bottom">
                        <div class="footer_attention">
                            <p> Discover a smarter, simpler way to explore and manage books. </p>
                        </div>

                        <div class="footer_copyright">
                            <p> ©︎ Readgister. 2025 </p>
                        </div>
                    </div>
                </div>

                <div class="footer_logo">
                    <img src= " {{ url_for ('static', filename='photos/logo/logo_white.png') }}" alt="Readgister." class="footer_img">
                </div>


            </div>
        </div>
    </div>

    
</body>
</html>