<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet", href="{{url_for('static', filename='style_admin_profile.css')}}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Readgister. </title>
</head>
<body>
    <div class="navbar">
        <ul class="button" type="none">
            <li> <img src="{{url_for('static', filename='photos/logo/logo_icon0_white.png')}}" class="small_logo"> </li>
            <li> <a href="{{url_for('admin_home_page')}}"> Home </a> </li>
            <li> <a href="{{url_for('landing_page')}}"> About </a> </li>
            <li> <a href="{{url_for('landing_page')}}"> FAQ </a> </li>
            <li> <a href="{{url_for('landing_page')}}"> Contacts </a> </li>
            
            <div class="dropdown">
                <button class="dropdown_button"> Accounts </button>
                <div class="dropdown_content">
                    <div class="profile_section">
                        <div class="profile_section_body">
                            <div class="staff_profile_photo">
                                {% if admin['profile_admin'] %}
                                <img class="staff_profile_photo" src="{{ url_for('static', filename=admin['profile_admin']) }}" width="150">
                                {% else %}
                                <img class="staff_profile_photo0" src="{{ url_for('static', filename='profile_p/profile_default.jpg') }}" width="150">
                                {% endif %}
                            </div>
                            <h1 class="profile_name">{{ admin['name_admin'] }}</h1>
                            <p class="profile_email">{{ admin['email_admin'] }}</p>
                        </div>
                    </div>
                    <a class="profile_button" href="{{url_for('staff_profile')}}"> Profile </a>

                    <p class="dropdown_divider">  </p>

                        <p class="dashboard_title"> Admin Dashboard </p>
                        <div class="dashboard_button">
                            <a href="{{url_for('admin_dashboard_books')}}"> Book List </a>
                        </div>
                        <div class="dashboard_button">
                            <a href="{{url_for('admin_dashboard_staff')}}"> Staff List </a>
                        </div>
                    <div class="logout_button">
                        <a href="{{url_for('admin_logout')}}" onclick="return confirm('Are you sure you want to logout?');"> Logout </a>
                    </div>
                </div>
            </div>
        </ul>
    </div>


    <div class="profileinfo_section">
        <div class="profileinfo_body">
            <div class="profileinfo_elements">


                <form action="{{ url_for('admin_profile') }}" method="post" enctype="multipart/form-data">

                    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash_messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}

                <h1 class="profile_title"> Profile Menu </h1>

                        <div class="pfp_wrapper">
                            <label>
                                {% if admin['profile_admin'] %}
                                <img src="{{ url_for('static', filename=staff['profile_admin']) }}" width="300" class="profile_img">
                                {% else %}
                                <img src="{{ url_for('static', filename='profile_p/profile_default.jpg') }}" width="300" class="profile_img">
                                {% endif %}
                                <div class="hover_text">Change profile</div>
                                <input type="file" name="photo_admin" accept="image/*">
                            </label>
                        </div>

                        <label> Name: </label>
                        <input type="text" name="name_admin" value="{{admin['name_admin']}}" required class="profileinfo_input">

                        <label> Email: </label>
                        <input type="text" name="email_admin" value="{{admin['email_admin']}}" required class="profileinfo_input">

                        <label> Phone no: </label>
                        <input type="text" name="phone_admin" value="{{admin['phone_admin']}}" class="profileinfo_input">

                        <label> Password: </label>
                        <input type="text" name="pass_admin" value="{{admin['pass_admin']}}" required class="profileinfo_input">

                    <input class="update_button" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_body">
            <div class="footer_elements">

                <div class="footer_buttons">
                    <ul class="footer_links" type="none">
                        <li> 
                            <p> Explore </p>
                            <ul class="footer_text" type="none">
                                <li> <a href="{{url_for('admin_home_page')}}"> Home </a> </li>
                                <li> <a href="#"> About </a> </li>
                                <li> <a href="{{url_for('booklist_admin')}}"> Book List </a> </li>
                            </ul>
                        </li>
                        <li> 
                            <p> Help </p>
                            <ul class="footer_text" type="none">
                                <li> <a href="#"> FAQ </a> </li>
                                <li> <a href="#"> Contacts </a> </li>
                            </ul>
                        </li>
                        <li> 
                            <p> Legal </p>
                            <ul class="footer_text" type="none">
                                <li> <a href="#"> Terms of Use </a> </li>
                                <li> <a href="#"> Terms of Service </a> </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="footer_bottom">
                        <div class="footer_attention">
                            <p> Discover a smarter, simpler way to explore and manage books. </p>
                        </div>

                        <div class="footer_copyright">
                            <p> ©︎ Readgister. 2025 </p>
                        </div>
                    </div>
                </div>

                <div class="footer_logo">
                    <img src= " {{ url_for ('static', filename='photos/logo/logo_white.png') }}" alt="Readgister." class="footer_img">
                </div>


            </div>
        </div>
    </div>

</body>
</html>